*{
  margin: 0;
  padding: 0;
}
.g1-container {
  display: flex;
  /* height: 100vh; */
}

.g1-right {
  background-color: #f4f4f4;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #ccc;
}

.g1-left {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.g1-title {
  text-align: center;
  margin-bottom: 10px;
}

/* Graph and visualizer styles */
.g1-graph {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #fff;
}




